*{
  padding: 0px;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 18px;
}


body {
  height: 100vh;
  width: 100vw;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  #deal-button, #next-hand, #out-of-money {
    display: none;
  }

  #opening-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    input#player-name{
      height: 30px;
    }
    p {
      margin: 10px;
    }
    label, input {
      padding: 5px;
      margin-bottom: 5px;
    }
    #start{
      margin-top: 10px;
    }
  }

  #out-of-money {
      flex-direction: column;
  }

    .btn {
    min-width: 100px;
    max-width:50%;
    height: 35px;
    background-color: lightgray;
    margin: 0px auto;
    padding-top: 10px;
  }
  main {
    
    margin: 0 auto;
    height: 90%;
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid red;

    section {

      &.top-flex{
        display: flex;
      
        justify-content: space-between;
        &.shoe{
          float: right;
        }
        
      }

      &.results {
        display: flex;
        flex-direction: column;
        div {
          height: 20px;
        }
      }

      &.scores {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        height: 5%;
        div{
          width: 40%;
        }
      }
      &.boards {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        height: 25%;
        div{
          width: 40%;
          img {
            height: 70px;
            width: 50px;
          }
        }
      }

      &.player-area{
        div.chips-area{
          display:flex;
          justify-content: space-evenly;
          i.selected{
            color: ghostwhite;
            transform: scale(1.2);
          }
        }
      }

      &.board-buttons {
        height: 60px;
      }

      div {
        border: 2px solid rgb(5, 26, 122);
        
        &.previous-hands{
          float: left;
          overflow: hidden;
          width: 100px;
          border: 2px solid yellow;
        }

        &.main-bets {
          display: flex;
          justify-content: space-evenly;
        }
        &.tie {
          width: 20%;
          margin: 0 auto;
        }

      }
    }
  }
}