* {
  padding: 0px;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 18px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #deal-button, body #next-hand, body #out-of-money {
  display: none;
}

body #opening-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

body #opening-screen input#player-name {
  height: 30px;
}

body #opening-screen p {
  margin: 10px;
}

body #opening-screen label, body #opening-screen input {
  padding: 5px;
  margin-bottom: 5px;
}

body #opening-screen #start {
  margin-top: 10px;
}

body #out-of-money {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .btn {
  min-width: 100px;
  max-width: 50%;
  height: 35px;
  background-color: lightgray;
  margin: 0px auto;
  padding-top: 10px;
}

body main {
  margin: 0 auto;
  height: 90%;
  width: 90%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid red;
}

body main section.top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section.top-flex.shoe {
  float: right;
}

body main section.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main section.results div {
  height: 20px;
}

body main section.scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 5%;
}

body main section.scores div {
  width: 40%;
}

body main section.boards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 25%;
}

body main section.boards div {
  width: 40%;
}

body main section.boards div img {
  height: 70px;
  width: 50px;
}

body main section.player-area div.chips-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main section.player-area div.chips-area i.selected {
  color: ghostwhite;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body main section.board-buttons {
  height: 60px;
}

body main section div {
  border: 2px solid #051a7a;
}

body main section div.previous-hands {
  float: left;
  overflow: hidden;
  width: 100px;
  border: 2px solid yellow;
}

body main section div.main-bets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main section div.tie {
  width: 20%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */